.ordenes{
    display:flex;
    flex-direction: column;
}
.orden{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5em repeat(11,4em);
}
/* .orden>div{
    margin: 0.2em;
    background-color: steelblue;
    color: white;
    display: grid;
    align-items: centerx;

} */
