.tabla{
    display: flex;
    flex-direction: column;
}
.tabla--header{
    text-align: center;
    display: grid;
    grid-template-columns: 2em 120px 120px 1fr 5em 6em 6em;
}
.tabla--row-cliente{
    text-align: center;
    display: grid;
    grid-template-columns: 2em 120px 120px 1fr 5em 6em 6em; 
    margin: 0.2em 0;
}

.tabla--column{
    display: grid;
    align-items: center;
    margin: 0.2em;
    background-color: steelblue !important;
    color: white !important;
    padding: 3px;
}